<html>
	<head>
		<style>
			body {
				background: <%= session[:bg_color] %>;
				text-align: center;
				padding: 60px; 
			}
		</style>
	</head>
	<body>
        <p style="font-size:45px">
            My 'Lil Web Guesser
        </p>
		<p>
			<form method='POST' action="/process" >
				<input type='text' name='guess' />
				<input type='submit' value='Guess!' />
			</form>
		</p>
		<p>
			<% if session[:cheat] == "true" %>
				Cheat MOde Engaged: <br>Secret Number is: <%= session[:number] %>
			<% end %> 
		</p>		
		<p>
			<%= session[:guesses] %> Guesses Left
		</p>		
		<p>
			<%= session[:message] %>
		</p>
		<p>
			<%= session[:end_game_message] %>
		</p>						
	</body>
</html>