<html>
	<head>
		<style>
			body {
				background: <%= background_color %>;
			}
		</style>
	</head>
	<body>
		<p>
			<form>
				<input type='text' name='guess' />
				<input type='submit' value='Guess!' />
			</form>
		</p>
		<p>
			<%= number %>
		</p>
		<p>
			<%= guesses %> Guesses Left
		</p>		
		<p>
			<%= message %>
		</p>
		<p>
			<%= guess_status %>
		</p>		
	</body>
</html>