<html>
	<head>
		<style>
			body {
				background: <%= background_color %>;
				text-align: center;
				padding: 250px; 
			}
		</style>
	</head>
	<body>
		<p>
			<form>
				<input type='text' name='guess' />
				<input type='submit' value='Guess!' />
			</form>
		</p>
		<p>
			<%= if cheat_mode == "true"
							"Cheat MOde Engaged!:  #{number}"
					end %>
		</p>		
		<p>
			<%= guesses %> Guesses Left
		</p>		
		<p>
			<%= message %>
		</p>
		<p>
			<%= guess_status %>
		</p>		
	</body>
</html>